body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6495ED;
    height: 100vh;
    margin: 0;

}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4169E1;
    padding: 2rem;
    border-radius: 8px;
    width: 30%;
    gap: 1rem;
    margin-bottom: 20px;
}
h1 {
    color: var(--tons-neutros-700, #000);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

label {
    align-self: flex-start; /* Adicionado para alinhar o label no início */
    color: var(--laranja-800, #000);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    margin-bottom: 0.25rem; /* Adicionado espaçamento inferior para separar os labels */
}

input {
    width: 90%;
    height: 1rem;
    border: none;
    color: var(--tons-neutros-900, #393939);
    border: 1px solid var(--verde-400, #58AB87);
    border-radius: 4px;
    box-shadow: 0 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    outline: 0;
    padding: 0.6rem 1rem;
}

select {
    width: 99%;
    height: 2rem;
    border-radius: 4px;
    outline: 0;
}

button {
    width: 70%;
    height: 2rem;
    color: #000;
    border: 1px solid #58AB87;
    border-radius: 6px;
    background-color: #F3F3F3;
    margin-top: 1rem;
}
.ListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4169E1;
    padding: 2rem;
    border-radius: 8px;
    width: 30%;
    gap: 1rem;
    margin-bottom: 20px;
}
.ListBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 26.3rem;
    background-color: #ADD8E6;
    border-radius: 6px;
    overflow-y: scroll;
}
li {
    width: 85%;
    border-radius: 6px;
    padding: 0.5rem;
    background-color: #FFF;
    border: 1px solid #58AB87;
    list-style-type: none;
}